<p>
  <strong>Name:</strong>
  <%= @driver.name %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @driver.email %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @driver.birthday %>
</p>

<p>
  <strong>Cars</strong>
  <table border=1>
    <tr>
      <th>id</th>
      <th>title</th>
      <th>type</th>
      <th>color</th>
    </tr>
    <% @driver.cars.each do |car| %>
      <tr>
        <td><%= car.id %></td>
        <td><%= car.title %></td>
        <td><%= car.car_type %></td>
        <td><%= car.color %></td>
      </tr>
    <% end %>
  </table>
</p>
